<template>
  <li class="list__item">
    <div class="grid">
      <div class="grid__big grid__big_r20">
        <select class="list__select" v-model="selected = item.property">
          <option value selected disabled hidden>Choose here</option>
          <option
            v-for="p in propertiesToShow"
            :value="p.name"
            :key="p.name"
            :disabled="p.disabled"
          >{{p.title}}</option>
        </select>
      </div>
      <div class="grid__small list__control center">
        <a href @click.prevent="changeType" class="list__btn">
          <span>{{item.order === 'ASC' ? '&#8593;' : '&#8595;'}}</span>
        </a>
        <a href @click.prevent="deleteProperties" class="list__btn">
          <span>&#10761;</span>
        </a>
      </div>
    </div>
  </li>
</template>

<script>
import { mapState, mapMutations, mapGetters } from "vuex";

export default {
  props: ["item"],
  data() {
    return {
      selected: ""
    };
  },
  computed: {
    ...mapState(["propertiesList", "addedProperties"]),
    ...mapGetters(["propertiesToShow"])
  },
  methods: {
    ...mapMutations(["changeItem", "deleteItem", "changeTypeDefault"]),
    deleteProperties() {
      this.deleteItem(this.item.id);
    },
    changeType() {
      const type = this.item.order === "ASC" ? "DESC" : "ASC";
      this.changeTypeDefault({ type, id: this.item.id });
    }
  },
  watch: {
    selected() {
      if (typeof this.selected === 'string') {
        const { name, order } = this.propertiesToShow.find(
          ({ name }) => name === this.selected
        );

        this.changeItem({
          name,
          order,
          id: this.item.id
        });
      }
    }
  }
};
</script>

<style lang="scss">
.list {
  padding-left: 20px;
  margin: 10px 0 20px 0;
  list-style-type: decimal;
  font-size: 20px;
  &__item {
    padding: 10px;
    background: #f5f5f3;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  &__select {
    outline: none;
    background: #f5f5f3;
    width: 100%;
    height: 30px;
    cursor: pointer;
  }
  &__control {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #867b0a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}
</style>

