<template>
  <div class="container">
    <div class="form">
      <h1 class="form__title">Sorting Properties</h1>
      <div class="grid">
        <div class="grid__big">
          <span class="fz18">Properties</span>
        </div>
        <div class="grid__small center">
          <span class="fz18">Order</span>
        </div>
      </div>
      <ul class="list">
        <app-item v-for="(item, index) in addedProperties" :key="index" :item="item"></app-item>
      </ul>
      <div v-if="error" class="error">some fields are empty</div>
      <div class="form__row">
        <button
          @click.prevent="addItem({ property: null, order: null })"
          class="form__addItem"
          :disabled="addedProperties.length >= propertiesList.length"
        >+ Add Properties</button>
      </div>
      <div class="center">
        <button
          class="form__submit"
          @click.prevent="submitForm"
          v-if="addedProperties.length"
        >Submit</button>
      </div>
    </div>
  </div>
</template>

<script>
import Item from "./components/Item";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
  data: () => ({
    error: false
  }),
  components: {
    appItem: Item
  },
  computed: {
    ...mapState(["propertiesList", "addedProperties"])
  },
  methods: {
    ...mapMutations(["addItem"]),
    ...mapActions(["submitList"]),
    submitForm() {
      if (this.addedProperties.some(i => i.property === null)) {
        this.error = true;
        return;
      }
      this.error = false;
      this.submitList();
    }
  }
};
</script>

<style lang="scss">
.form {
  max-width: 500px;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid #ece4e4;
  background: #f1f0db;
  &__title {
    text-align: center;
  }
  &__addItem {
    border: none;
    background: none;
    color: #029802;
    font-weight: 600;
    padding: 0;
    font-size: 15px;
    text-decoration: none;
    outline: none;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  &__submit {
    border-radius: 30px;
    border: none;
    background-color: #e4b103;
    padding: 10px 50px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s ease-out;
    outline: none;
    text-transform: uppercase;
    &:hover {
      background-color: #d2a60a;
    }
    &:active {
      outline: none;
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  &__row {
    margin-bottom: 20px;
  }
}

.center {
  text-align: center;
}

.grid {
  display: flex;
  &__big {
    flex-grow: 1;
    width: 100%;
    &_r20 {
      padding-right: 20px;
    }
  }
  &__small {
    flex: 0 0 auto;
    width: 70px;
  }
}

.fz18 {
  font-size: 18px;
}

.error {
  margin-bottom: 15px;
  color: red;
}
</style>
